html {
    background-color: rgb(27, 27, 27);
    font-family: Arial;
    color: rgb(0, 200, 255);
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    color: white;
}
