html {
    background-color: rgb(27, 27, 27);
    font-family: Arial;
    color: rgb(0, 200, 255);
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a {
    color: white;
}

.Nav-Bar {
    background-color: rgb(0, 200, 255);
    width:100%;
}

.Nav-Bar a:link {
    color: white;
    text-decoration: none;
}

.Nav-Bar a:visited {
    color: white;
    text-decoration: none;
}

.Nav-Bar a:hover {
    color: coral;
    text-decoration: none;
}

.Nav-Bar a:active {
    color: white;
    text-decoration: underline;
}

.Nav-Bar ul li {
    display: inline;
    font-size: xx-large;
    font-weight: bold;
    margin: 0 40px;
}

.Nav-Bar ul {
    padding: 10px 0;
}