---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body style="font-family: Arial;">
		<h1>Website By Saksham Goel<br>About Me!</h1>
		<h4><a href="/">Home</a></h4>
		<h4><a href="/about/">About</a></h4>
		<h4><a href="/blog/">Blog</a></h4>

        <p>I am working through Astro's introductory tutorial. This is the second page on my Astro powered site!!</p>

        <p>This site will update as I complete more of the tutorial, so keep checking back and see how this site evolves!</p>
	</body>
</html>
