---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body style="font-family: Arial;">
		<h1>Website By Saksham Goel<br>My Blog!</h1>
		<h4><a href="/">Home</a></h4>
		<h4><a href="/about/">About</a></h4>
		<h4><a href="/blog/">Blog</a></h4>

        <p>This is where I will be posting updates about my learning journey from "Hello World!" to Artifical Intelligence!!!</p>
	</body>
</html>
