---
import '../styles/global.css';
const pageTitle = "Home";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body style="font-family: Arial;">
		<div class="Nav-Bar">
			<center>
				<ul>
					<a href="/">
						<li>Home</li>
					</a>
					<a href="/about/">
						<li>About</li>
					</a>
					<a href="/blog/">
						<li>Blog</li>
					</a>
				</ul>
			</center>
		</div>
		<h1>Website By Saksham Goel<br>Home Sweet Home</h1>
		<p>Welcome to my first Astro powered website!<br>I plan on improving my older websites based on flask to this new framework!</p>
	</body>
</html>
